body {
    font-family: Arial, sans-serif;
    background: url('../img/codigo.svg'), linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    margin: auto;
    padding: 2vh;
    background: linear-gradient(0deg, rgba(20, 68, 128, 0.3), rgba(20, 68, 128, 0.3)),
        linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
    border-radius: 2vh;
    color: white;
    box-shadow: 0.4vw 0.4vw 2vw 0vw #01080E26;
    border: 0.1vw solid #1875E8;
}

.container {
    display: flex;
    justify-content: center;
    gap: 1vw;
    width: 100%; 
    flex-direction: column;
    align-items: center;
    padding: 5vh;
}

.img-container img {
    width: 40vw;
    margin-bottom: 1vw;
}

.form-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60vw;
    align-items: center;
    gap: 2vh;
}

input[type="text"],
input[type="number"] {
    font-size: 1.5vw;
    width: 100%; 
    padding: 1vw;
    border: 0.1vw solid #ccc;
    border-radius: 0.5vw;
}

button {
    width: fit-content;
    padding: 1vw;
    background-color: #1875E8;
    color: #fff;
    font-size: 1.5vw;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4cae4c;
}

ul {
    width: 60vw;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul li {
    background-color: #041832;
    padding: 1vw;
    border-bottom: 0.1vw solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow-wrap: break-word;
    gap: 1vh;
    width: 100%;
    font-size: 1.5vw;
    word-break: break-word; 
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 2vw;
}

ul li:last-child {
    border-bottom: none;
}

.total {
    margin-top: 2vh;
    font-size: 3.5vw;
    text-align: center;
    color: #fff;
}

#botonAgregar {
    display: flex;
}

@media (max-width: 768px) {
    .container {
        padding: 3vh;
    }

    .form-group {
        width: 80vw;
    }
    ul {
        width: 80vw;
    }

    input[type="text"],
    input[type="number"] {
        font-size: 4vw;
    }

    ul li {
        font-size: 4vw;
    }

    .total {
        font-size: 5vw;
    }

    button {
        font-size: 4vw;
    }

    .img-container img {
        width: 60vw; 
    }
    
}

@media (max-width: 480px) {

    .container {
        padding: 2vh;
    }

    .form-group {
        width: 90vw;
    }

    ul{
        width: 90vw;
    }

    input[type="text"],
    input[type="number"] {
        font-size: 6vw;
        padding: 2vw; 
    }

    ul li {
        font-size: 6vw;
        gap: 2vh;
    }

    button {
        font-size: 6vw;
        padding: 2vw;
    }

    .total {
        font-size: 7vw;
    }

    .img-container img {
        width: 80vw; 
    }
}
